{% extends 'base.html' %}
{% load static %}


{% block title %}
    Book List
{% endblock title %}
    


{% block content %}
    <h1>Book List</h1>
    <hr>
    <a href="{% url 'welcome'%}" class="btn btn-dark"> Regresar a Index</a>
    <a href="{% url 'add-book'%}" class="btn btn-success"> Añadir Libro</a>
    <hr>
    <br>
    <h2>Libros disponibles</h2>
    {{no_cover}}

    <ul>
        {% for book in books %}
            <li>
                <strong>
                    <a href="{% url 'book-detail' pk=book.id %}">{{book.title}}</a>
                </strong> - {{book.author.name}}
                <br>
                <img
                    src="{% if book.cover %}{{ book.cover.url }}{% else %}{% static 'images/no_cover.jpg' %}{% endif %}"
                    alt="Portada de {{ book.title }}"
                    width="150"
                    onerror="this.onerror=null;this.src='{% static 'images/no_cover.jpg' %}';"
                />
            </li>
        {% empty%}
            <li>No hay libros disponibles</li>
        {% endfor %}
    </ul>

    {% comment %} PAGINATOR {% endcomment %}
    {% if is_paginated %}
        <div class="pager">
            {# Primera / Anterior #}
            {% if page_obj.has_previous %}
                <a class="pager-btn" href="?page=1&{{query_string}}" aria-label="Primera página">
                    &laquo;
                </a>
                <a class="pager-btn" href="?page={{page_obj.previous_page_number}}&{{query_string}}" aria-label="Página anterior">
                    &lsaquo;
                </a>
            {% else %}
                <span class="pager-btn is-disabled" aria-disabled="true" title="Ya estás en la primera página">
                    &laquo;
                </span>
                <span class="pager-btn is-disabled" aria-disabled="true" title="Ya estás en la primera página">
                    &lsaquo;
                </span>
            {% endif %}

            <span class="pager-info">
                Página <strong>{{ page_obj.number }}</strong> de <strong>{{ page_obj.paginator.num_pages }}</strong>
            </span>

            {# Siguiente / Última #}
            {% if page_obj.has_next %}
                <a class="pager-btn" href="?page={{page_obj.next_page_number}}&{{query_string}}" aria-label="Página siguiente">
                    &rsaquo;
                </a>
                <a class="pager-btn" href="?page={{page_obj.paginator.num_pages}}&{{query_string}}" aria-label="Última página">
                    &raquo;
                </a>
            {% else %}
                <span class="pager-btn is-disabled" aria-disabled="true" title="Ya estás en la última página">
                    &rsaquo;
                </span>
                <span class="pager-btn is-disabled" aria-disabled="true" title="Ya estás en la última página">
                    &raquo;
                </span>
            {% endif %}
        </div>
    {% endif %}


{% endblock content %}
    