{% extends 'base.html' %}


{% block title %}
    Review Form
{% endblock title %}


{% block content %}
    <h1>
        {% if text_update %}
            {{text_update}} de:
        {% else %}
            Agrega la Reseña de: 
        {% endif %}
        {{book.title}}
    </h1>




    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type="submit">
            {% if text_update %} 
                {{text_update}}
            {% else %}
                Enviar
            {% endif %} </button>
    </form>
    
    <br>
    {% if text_update %}
        <a class="btn btn-danger" href="{% url 'delete-review' book_id=book.id pk=review.id %}">Eliminar Reseña</a>
    {% endif %}


    <br>

    {% if messages %}
        {% for message in messages  %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <br>
    <div>
        <a href="{% url 'book-list' %}">Volver a la lista</a>
    </div>
    <hr>
    {% if not text_update %}
        <h3>Reseñas</h3>
        <br>
        {% for review in book_reviews  %}
            <div>
                <p>
                    <a href="{% url 'update-review' book_id=book.id pk=review.id %}">{{review}}</a></p>
            </div>
        {% endfor %}
        {% else %}
        <a href="{% url 'create-review' pk=book.id %}">Volver a las reviews</a>
    {% endif %}
        
    
{% endblock content %}
    