{% extends 'base.html' %}
{% load static %}


{% block title %}
    QUOTES
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'quotes/quotes_styles.css' %}">
{% endblock css %}


{% block content %}

    {% include './includes/partial.html' %}
    {% include './includes/end_partial.html' with days=days name='Sebastian' %}
    
    <h1>Phrases Index</h1>
    <ul>
        
        {% for item in days %}
        <li><a href="{% url 'days_week' day=item %}">{{item | title}}</a></li>
        {% empty %}
        <li>No hay frase disponible</li>
        {% endfor %}
    </ul>
{% endblock content %}
    